@font-face {
    font-family: 'ElMessiri';
    src: url('../../css/fonts/ElMessiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElMessiri';
    src: url('../../css/fonts/ElMessiri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} 

@font-face {
    font-family: 'Puritan';
    src: url('../../css/fonts/Puritan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Puritan';
    src: url('../../css/fonts/Puritan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifKR';
    src: url('../../css/fonts/NotoSerifKR-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "NotoSerifKR", Helvetica, sans-serif;
}

.avz-webtag-title {
    font-size: 30px;
}