.hide {
  display: none;
}

nav .dropdown-item, nav .nav-link {
  cursor: pointer;
}

.container.header {
  margin-top: 1rem;
}

.container.content {
  display: flex;
  position: relative;
}

/*
.container.header > h3 {
  text-transform: lowercase;
}

.container.header > h3::first-letter {
  text-transform: uppercase;
}
*/

h5 {
    font-size: 1rem;
    font-weight: 600;
}

body, nav, .container {
  min-width: 985px !important;
}

body {
  overflow-y: scroll;
}

.nav-item.active {
  background-color: #141719;
  transition: background-color 1s linear;
}

nav.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

nav.navbar .nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  margin: 10px;
}

.dropdown-item.active {
  color: #000000;
  background-color: #BED0DC;
}

#legend {
  margin-left: 1rem;
  padding: 15px;
  min-width: 190px;
  width: 100%;
  background-color: #FFFFFF;
  /* height: calc(100% - 20px); */
  height: 100%;
  margin-bottom: 5px;
}

#mapBusyPanel {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 506px;
  padding-top: 100px;
  background-color: rgb(33, 37, 41, 0.05);
}

@media only screen and (max-width: 1200px) {
  #legend {
    margin: 7px 14px 7px 0px;
    position: absolute;
    top: 0px;
    left: 718px;
    width: 190px;
    max-width: 190px;
    /* height: calc(100% - 20px); */
    height: auto;
    z-index: 1000;
  }
}

.panel-design {
    border: 1px solid #4B4B4B;
    border-radius: 5px;
}

#legend table {
  width: 100%;
}

.class-color {
  width: 32px;
  height: 16px;
}

.class-description {
  padding-left: 15px;
  vertical-align: middle;
}
