@font-face {
    font-family: 'ElMessiri';
    src: url('fonts/ElMessiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElMessiri';
    src: url('fonts/ElMessiri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Puritan';
    src: url('fonts/Puritan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Puritan';
    src: url('fonts/Puritan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifKR';
    src: url('fonts/NotoSerifKR-Regular.otf') format('opentype');
    font-style: normal;
}

body {
  font-family: "NotoSerifKR", Helvetica, sans-serif;
  font-size: 15px;
}

.hide {
  display: none !important;
}

nav .dropdown-item, nav .nav-link {
  cursor: pointer;
}

#imageMap>area {
  cursor: pointer;
}

#imageMap>area::hover {
  background-color: wheat;
}

.footer {
  font-size: 0.7rem;
}

.avz-dropshadow {
  top: unset !important;
  bottom: 5px !important;
}

.avz-dropshadow {
  font-family: "NotoSerifKR", Helvetica, sans-serif;
}

.avz-dropshadow .avz-webtag-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.avz-dropshadow .avz-webtag {
  font-size: 0.9rem;
}

.container.header {
  font-family: "ElMessiri", Helvetica, sans-serif;
  margin-top: 2rem;
}

.container.content {
  display: flex;
  position: relative;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

#avenzaMapContainer {
  height: 500px;
  width: 900px;
}

body, nav, .container {
  min-width: 935px;
}

.container {
  margin: 0.5rem 10px;
}

body {
  overflow-y: scroll;
}

.nav-item.active {
  background-color: #141719;
  transition: background-color 1s linear;
}

nav.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

nav.navbar .nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-family: "ElMessiri", Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 10px;
  padding-right: 2rem;
  cursor: default !important;
  font-weight: bold;
}

.nav-link {
  padding: 0.5rem 1.5rem !important;
}

.dropdown-item.active {
  color: #000000;
  background-color: #BED0DC;
}

#legend {
  margin-left: 1rem;
  padding: 15px;
  min-width: 190px;
  width: 100%;
  background-color: #FFFFFF;
  /* height: calc(100% - 20px); */
  height: 100%;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

#mapBusyPanel {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 500px;
  padding-top: 100px;
  background-color: rgba(0,0,0,.125);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}

.warning {
  display: none;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body > *:not(.warning), iframe, .container {
    display: none !important;
  }
  body {
    min-width: 100%;
  }
  .warning {
    display: block;
    overflow: auto;
    text-align: center;
    margin-top: 7rem;
    padding: 1rem 5rem 0rem 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  #legend {
    margin: 7px 14px 7px 0px;
    position: absolute;
    top: 0px;
    left: 718px;
    width: 190px;
    max-width: 190px;
    /* height: calc(100% - 20px); */
    height: auto;
    z-index: 1000;
  }
}

.panel-design {
    border: 1px solid #4B4B4B;
    border-radius: 5px;
}

#legend table {
  width: 100%;
}

.class-color {
  width: 32px;
  height: 16px;
}

.class-description {
  padding-left: 15px;
  vertical-align: bottom;
  line-height: 1.2rem;
  padding-top: 0.2rem;
}
